<div class="jumbotron" style="background: aliceblue">

    <div class="row example-wrapper">
      <div class="col-xs-20 col-sm-6 offset-sm-3 example-col">
          <div class="card">
              <div class="card-block">
                  <form class="k-form">
                      <fieldset>
                          <legend>Ingresar Usuario</legend>
                          <label class="k-form-field">
                              <span>Nombre Completo<span class="k-required">*</span></span>
                              <input  #nombre  class="k-textbox" placeholder="Nombre" />
                          </label>
                          <label class="k-form-field">
                                <span>Telefono<span class="k-required">*</span></span>
                                <input  #telefono  class="k-textbox" placeholder="Nombre" />
                            </label>
                            <label class="k-form-field">
                                    <span>Email <span class="k-required">*</span></span>
                                    <input #mail  type="email" class="k-textbox"  placeholder="Mail" />
                                  </label>
                          <label class="k-form-field">
                              <span>Password</span>
                              <input #password  type="password" class="k-textbox"  placeholder="password"/>
                          </label>
                      </fieldset>
                      <div class="text-right">
                        <button type="button" style="right: 10%" class="k-button k-primary" (click)="crearUsuario(nombre.value,telefono.value,mail.value,password.value)">Aceptar</button>
                        
                        <button type="button" class="k-button" (click)="cancelar()">Cancelar</button>
                    </div>               
                  </form>
              </div>
          </div>
      </div>
    </div>
  </div>
  
  