<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        Bienvenido 
      </div>
      <br>
      <div class="fadeIn first">
          <button style="background-color:blue" type="button"(click)="Usuario()" mdbBtn >Usuario
          </button>
        </div>
        <br>
      <div class="fadeIn first">
          <button style="background-color: blue" type="button"(click)="Visitante()" mdbBtn >Visitante
          </button>
        </div>
     
    </div>
  </div>
