<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      Bienvenido 
    </div>
    <div class="fadeIn first">
       Login
      </div>

    <div class="fadeIn first">
        Login con Google
      <br>
        <button style="background-color: red" type="button"(click)="socialSignIn('google')" mdbBtn class="btn-gplus waves-light" mdbWavesEffect><i class="fab fa-google-plus left"></i>Google
        </button>
      </div>
   
  </div>
</div>
